body {
  background-color: rgb(27, 0, 78);
}

h2 {
  font-size: 2em;
  color: #1ce;
}

p {
  color: #eee;
  font-size: 1.2em;
}

.btn {
  padding: 0.5em 1em;
  margin-left: 20px;
  background-color: #1ce;
  border-radius: 3px;
  color: white;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}
