:root {
  box-sizing: border-box;
  /* font-size: calc(1em + 1vw); */
  font-size: 0.875em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin: 0;
}

body * + * {
  margin-top: 1.5em;
}

main {
  display: block; /* исправляет баг, связанный с IE */
}

.container {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
}

/* clearfix */
.clearfix::before,
.clearfix::after {
  display: table;
  content: ' ';
}

.clearfix::after {
  clear: both;
}

/* Сетка */

.row {
  margin-left: -0.75em;
  margin-right: -0.75em;
}

.row::after {
  content: ' ';
  display: block;
  clear: both;
}

[class*='column-'] {
  float: left;
  padding: 0 0.75em;
  margin-top: 0;
}

.column-1 {
  width: 8.3333%;
}
.column-2 {
  width: 16.6667%;
}
.column-3 {
  width: 25%;
}
.column-4 {
  width: 33.3333%;
}
.column-5 {
  width: 41.6667%;
}
.column-6 {
  width: 50%;
}
.column-7 {
  width: 58.3333%;
}
.column-8 {
  width: 66.6667%;
}
.column-9 {
  width: 75%;
}
.column-10 {
  width: 83.3333%;
}
.column-11 {
  width: 91.6667%;
}
.column-12 {
  width: 100%;
}
