:root {
  box-sizing: border-box;
  /* font-size: calc(1em + 1vw); */
  font-size: 0.875em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin: 0;
}

body * + * {
  margin-top: 1.5em;
}

header {
  color: #fff;
  background-color: #0072b0;
  padding: 1em 1.5em;
  display: flex;
  height: 70px;
  align-items: center;
}

header h1 {
  margin: 0;
}

main {
  display: block; /* исправляет баг, связанный с IE */
}

.container {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
}

.main {
  background-color: #fff;
  border-radius: 0.5em;
  padding: 1em 1.5em;
  float: left;
  width: 70%;
}

.sidebar {
  padding: 1.5em;
  margin-top: 0;
  background-color: #fff;
  border-radius: 0.5em;
  float: left;
  width: 30%;
  margin-left: 1em;
}

.btn-link {
  display: block;
  padding: 0.5em;
  color: #fff;
  background-color: #0090c9;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.sponsor-link {
  display: block;
  color: #0077b0;
  font-weight: bold;
  text-decoration: none;
}

/* media */
.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}

.clearfix::after {
  clear: both;
}

.media {
  float: left;
  margin: 0 1.5em 1.5em 0;
  width: calc(50% - 1.5em);
  padding: 1.5em;
  background-color: #eee;
  border-radius: 0.5em;
}

.media:nth-child(odd) {
  clear: left;
}

/* media content */
.media-image {
  float: left;
  font-size: 1.3em;
  margin-right: 1em;
}

.media-body {
  overflow: auto;
  margin-top: 0;
}

.media-body h4 {
  margin: 0 auto;
}

.media-body p {
  margin-top: 0.5em;
}

/* Сетка */

.row {
  margin-left: -0.75em;
  margin-right: -0.75em;
}

.row::after {
  content: " ";
  display: block;
  clear: both;
}

[class*="column-"] {
  float: left;
  padding: 0 0.75em;
  margin-top: 0;
}

.column-1 {
  width: 8.3333%;
}
.column-2 {
  width: 16.6667%;
}
.column-3 {
  width: 25%;
}
.column-4 {
  width: 33.3333%;
}
.column-5 {
  width: 41.6667%;
}
.column-6 {
  width: 50%;
}
.column-7 {
  width: 58.3333%;
}
.column-8 {
  width: 66.6667%;
}
.column-9 {
  width: 75%;
}
.column-10 {
  width: 83.3333%;
}
.column-11 {
  width: 91.6667%;
}
.column-12 {
  width: 100%;
}

/* new media-box */
.media-item {
  padding: 1.5em;
  background-color: #eee;
  border-radius: 0.5em;
}

.media-item-image {
  float: left;
  margin-right: 1.5em;
}

.media-item-body {
  overflow: auto;
  margin-top: 0;
}

.media-item-body h4 {
  margin-top: 0;
}

/* nav */
nav {
  width: 1080px;
  margin: 0 auto;
}
.site-nav {
  display: flex;
  background-color: #fff;
  list-style-type: none;
  padding: 0.5em;
  border-radius: 0.5em;
}

.site-nav > li {
  margin-top: 0;
}

.site-nav > li > a {
  display: block;
  padding: 0.5em 1em;
  color: #0090c9;
  text-decoration: none;
}

.site-nav > li + li {
  margin-left: 1.5em;
}

.site-nav > .nav-right {
  margin-left: auto;
}

.dropdown {
  position: relative;
}

.dropdown-label::after {
  content: " ";
  position: absolute;
  right: 0;
  top: 1em;
  border: 0.3em solid;
  border-color: #0090c9 transparent transparent;
}

.dropdown:hover .dropdown-label::after {
  top: 0.7em;
  border-color: transparent transparent #0090c9;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 2.1em;
  min-width: 135px;
  background-color: #eee;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.submenu {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.submenu > li + li {
  margin-top: 0;
}

.submenu > li > a {
  display: block;
  padding: 0.5em 1.5em;
  color: #0090c9;
  text-decoration: none;
}
